@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?mpxevb');
  src:  url('/fonts/icomoon.eot?mpxevb#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?mpxevb') format('truetype'),
    url('/fonts/icomoon.woff?mpxevb') format('woff'),
    url('/fonts/icomoon.svg?mpxevb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dataBase:before {
  content: "\e900";
}
.icon-gjclz:before {
  content: "\e901";
}
.icon-gjdcl:before {
  content: "\e902";
}
.icon-gjls:before {
  content: "\e903";
}
.icon-gjycl:before {
  content: "\e904";
}
.icon-gngl:before {
  content: "\e905";
}
.icon-hsz:before {
  content: "\e906";
}
.icon-jsgl:before {
  content: "\e907";
}
.icon-loginout:before {
  content: "\e908";
}
.icon-pwd:before {
  content: "\e909";
}
.icon-sbAdd:before {
  content: "\e90a";
}
.icon-sbtz:before {
  content: "\e90b";
}
.icon-sbwhxx:before {
  content: "\e90c";
}
.icon-sbxx:before {
  content: "\e90d";
}
.icon-sjzx:before {
  content: "\e90e";
}
.icon-time:before {
  content: "\e90f";
}
.icon-yhgl:before {
  content: "\e910";
}
.icon-yhqx:before {
  content: "\e911";
}
.icon-zzjg:before {
  content: "\e912";
}
