
@{
    Layout = null;
}
@using EF.Application.Model;
@model t_userRole

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/common.css" rel="stylesheet" />
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/echarts/echarts.js"></script>
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
</head>
<body>
    <blockquote class="layui-elem-quote layui-text">
        角色详情
    </blockquote>
    <div class="content_Area">
        <div class="layui-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">角色名称:</label>
                    <div class="layui-input-inline">
                        @Html.EditorFor(model=>model.roleName,new { htmlAttributes=new {@class= "layui-input", @autocomplete="off", @placeholder = "请输入角色名称", @readonly= "readonly" } })
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">角色说明:</label>
                <div class="layui-input-block">
                    @Html.TextAreaFor(model=>model.roleDescription,new { @class= "layui-textarea", @readonly= "readonly" })
                </div>
            </div>
            <div class="layui-form-item jsgl_Submit">
                <button class="layui-btn layui-btn-primary" onclick="window.history.back()">返回</button>
            </div>
        </div>
    </div>
    <script src="~/Scripts/layui/layui.js"></script>
</body>
</html>
