
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/common.css" rel="stylesheet" />
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/echarts/echarts.js"></script>
    <script src="~/Scripts/jquery-1.8.0.js"></script>
    <style type="text/css">
        .chart_Area {
            width: calc((100% / 2) - 10px);
            height: 350px;
            background: #B7B2B2;
            margin: 5px 5px;
            float: left;
        }
        .partial_tableContainer table tbody tr td:nth-child(1){
            background:#020202;
            color:yellow;
        }
    </style>
</head>
<body>
    <input type="hidden" id="TerminalId" value="@ViewBag.TerminalId" />
    <input type="hidden" id="ElectricId" value="@ViewBag.ElectricId" />
    <input type="hidden" id="LineId" value="@ViewBag.LineId" />

    <blockquote class="layui-elem-quote layui-text" id="outPartialTitle"></blockquote>
    <div class="jd_detailsColumns">
        <div class="partial_tableContainer">
            <table cellspacing="0">
                <thead>
                    <tr>
                        <td>最大放电量</td>
                        <td>最大放电频次</td>
                        <td>状态</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="MaxElectric">--.--</td>
                        <td id="MaxFrequency">--.--</td>
                        <td id="status">--.--</td>
                    </tr>
                    <tr>
                        <td id="BElectricMaxValue">--.--</td>
                        <td id="BFrequencyMaxValue">--.--</td>
                        <td id="Bstatus">--.--</td>
                    </tr>
                    <tr>
                        <td id="CElectricMaxValue">--.--</td>
                        <td id="CFrequencyMaxValue">--.--</td>
                        <td id="Cstatus">--.--</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="partial_tableContainer">
            <img src="~/Images/guandao.jpg" style="width:100%; height:130px" />
        </div>
    </div>
    <div class="tabbar_Container">
        <div class="layui-tab layui-tab-brief" lay-filter="demo">
            <ul class="layui-tab-title">
                <li class="layui-this">放电量</li>
                <li>历史回放</li>
                <li>历史分析</li>
                <li>报警数据<span class="layui-badge" id="alarmCount"></span></li>
                <li>局放趋势</li>
                <li>设备状态</li>
            </ul>
            <div class="layui-tab-content">
                <!--1-->
                <div class="layui-tab-item layui-show">
                    <div class="layui-inline">
                        <label class="layui-form-label">Y抽定值：</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" placeholder="请输入Y值" id="YMax" value="500">
                        </div>
                    </div>
                    <div class="layui-inline" style="margin-left: 10px;">
                        <button class="layui-btn btn-size layui-btn-normal" id="sureYMax">确定</button>
                    </div>
                    <div class="form_Area">
                        <div id="form1" class="chart_Area"></div>
                        <div id="form2" class="chart_Area"></div>
                    </div>
                </div>
                <!--2-->
                <div class="layui-tab-item">
                    <div class="layui-form">
                        <div class="layui-inline">
                            <label class="layui-form-label">开始时间：</label>
                            <div class="layui-input-inline">
                                <input type="tel" id="historystartTime" name="phone" placeholder="请选择开始时间" lay-verify="required|phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">结束时间：</label>
                            <div class="layui-input-inline">
                                <input type="tel" id="hitoryendTime" name="phone" placeholder="请选择结束时间" lay-verify="required|phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">Y抽定值：</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" placeholder="请输入Y值" id="HYMax" value="500">
                            </div>
                        </div>
                        <div class="layui-inline" style="margin-left: 10px;">
                            <label class="layui-form-label">自动播放：</label>
                            <div class="layui-input-block">
                                <input type="checkbox" id="isAutoPlay" lay-skin="switch" lay-text="开|关" lay-filter="switchPaly" checked>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">单位(秒)：</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" placeholder="请输入时间" value="60" id="secondDate" onkeyup="timegapChange()">
                            </div>
                        </div>
                        <div class="layui-inline" style="margin-left: 10px;">
                            <button class="layui-btn btn-size layui-btn-normal" onclick="searchHistory()">查询</button>
                            <button class="layui-btn btn-size layui-btn-warm" id="sureHYMax">确定</button>
                        </div>
                    </div>
                    <div class="layui-form">
                        <div class="layui-inline" style="margin-left:18px">
                            <img src="/Images/Icon/left.png" title="上一页" style="cursor:pointer;width:20px; height:20px;" onclick="prePage()" />
                            <span id="currentPage">1</span>
                            <span>/</span>
                            <span id="pageCount"></span>
                            <img src="/Images/Icon/right.png" title="下一页" style="cursor:pointer;width:20px; height:20px" onclick="nextPage()" />
                            <span>时间：</span>
                            <span style="color:red" id="dataTimes"></span>
                        </div>
                    </div>
                    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <ul class="layui-tab-title">
                            <li class="layui-this">放电量</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <div class="form_Area">
                                    <div id="hform1" class="chart_Area"></div>
                                    <div id="hform2" class="chart_Area"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--3-->
                <div class="layui-tab-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">开始时间：</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" placeholder="请选择开始时间" id="startDate">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">结束时间：</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" placeholder="请选择结束时间" id="endDate">
                        </div>
                    </div>
                    <div class="layui-inline" style="margin-left: 10px;">
                        <button class="layui-btn btn-size layui-btn-normal" id="searchHistoryAny">查询</button>
                    </div>
                    <div class="form_Area">
                        <div  style="width:calc(100% - 20px);height:300px; background:#B7B2B2; float:left; margin:10px 10px" id="aPhase"></div>
                    </div>
                </div>
                <!--4-->
                <div class="layui-tab-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">开始时间:</label>
                        <div class="layui-input-inline">
                            <input type="tel" id="alarmStartTime" placeholder="请选择开始时间" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">结束时间:</label>
                        <div class="layui-input-inline">
                            <input type="tel" id="alarmEndTime" placeholder="请选择结束时间" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline" style="margin-left: 10px;">
                        <button class="layui-btn layui-btn-normal" data-type="reloadAlarm" id="btnAlarmSearch">查询</button>
                        <button class="layui-btn layui-btn-danger" lay-event="getCheckLength" id="confirmAlarm">确认告警</button>
                    </div>
                    <table class="layui-hide" id="alarmdata" lay-filter="alarm"></table>
                </div>
                <!--5-->
                <div class="layui-tab-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">开始时间:</label>
                        <div class="layui-input-inline">
                            <input type="tel" id="trendStartTime" placeholder="请选择开始时间" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">结束时间:</label>
                        <div class="layui-input-inline">
                            <input type="tel" id="trendEndTime" name="phone" placeholder="请选择结束时间" lay-verify="required|phone" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline" style="margin-left: 10px;">
                        <button class="layui-btn layui-btn-normal" id="btnTrend">查询</button>
                    </div>
                    <div class="form_Area">
                        <div style="width:calc(100% - 20px);height:300px; background:#B7B2B2; float:left; margin:10px 10px" id="aTrend"></div>
                    </div>
                </div>
                <!--6-->
                <div class="layui-tab-item">
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                        <legend>设备通讯状态曲线</legend>
                    </fieldset>
                    <div class="layui-inline">
                        <label class="layui-form-label">开始时间:</label>
                        <div class="layui-input-inline">
                            <input type="tel" id="netStartTime" name="phone" placeholder="请选择开始时间" lay-verify="required|phone" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">结束时间:</label>
                        <div class="layui-input-inline">
                            <input type="tel" id="netEndTime" name="phone" placeholder="请选择结束时间" lay-verify="required|phone" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline" style="margin-left: 10px;">
                        <button class="layui-btn layui-btn-normal" id="btnNetWork">查询</button>
                    </div>
                    <div class="legendRow">
                        <div class="legend green"></div>
                        <p class="legendTitle">校验通过</p>
                        <div class="legend red"></div>
                        <p class="legendTitle">校验不通过</p>
                        <div class="legend blue"></div>
                        <p class="legendTitle">没回复模块正常</p>
                        <div class="legend yellow"></div>
                        <p class="legendTitle">网络无连接</p>
                        <div class="legend Violet"></div>
                        <p class="legendTitle">网络已连接</p>
                    </div>
                    <div class="form_Area">
                        <div class="partial_ChartArea" style="width:calc(100% - 10px)" id="networkTrend"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--实时分析网络状态-->
    <div class="netWordStatePanelIcon shrink" id="networkBtn"></div>
    <div class="netWordStatePanel" id="netWordState">
    </div>

    <script src="~/Scripts/layui/layui.js"></script>
    @*当前局放*@
    <script src="~/Scripts/Views/outPartial/Immediate/Electric .js"></script>
    <script src="~/Scripts/Views/outPartial/Immediate/frequency.js"></script>
    @*局放历史分析*@
    <script src="~/Scripts/Views/highPartial/aPhase.js"></script>
    @*局放历史*@
    <script src="~/Scripts/Views/outPartial/History/hElectric.js"></script>
    <script src="~/Scripts/Views/outPartial/History/hfrequency.js"></script>
    @*局放趋势分析*@
    <script src="~/Scripts/Views/highPartial/aTrend.js"></script>
    @*通讯状态曲线*@
    <script src="~/Scripts/Views/NetWord/networkTrend.js"></script>
    @*滚动条插件*@
    <script src="~/Scripts/scroll/jquery.nicescroll.js"></script>
    <script type="text/html" id="StatusName">
        {{#  if(d.Status === 1){ }}
        <span style="color: red;">{{ d.StatusName }}</span>
        {{# } }}
        {{#  if(d.Status === 2){ }}
        <span style="color: #FFB700;">{{ d.StatusName }}</span>
        {{# } }}
        {{#  if(d.Status === 3){ }}
        <span style="color: #417505;">{{ d.StatusName }}</span>
        {{# } }}
    </script>

    <script type="text/html" id="FlagStatus">
        {{#  if(d.Flag === -1){ }}
        <span style="color: red;">告警中</span>
        {{#  } else { }}
        <span style="color: #417505;">已恢复</span>
        {{#  } }}
    </script>

    <script type="text/html" id="handle">
        @*箱柜门打开可查看照片/其他变处理*@
        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="showPicture">查看处理照片</a>
        {{#  if(d.AlarmCode === 257 && d.Status===1){ }}
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看照片</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">处理</a>
        {{#  } else if(d.Status===2 && d.AlarmCode===257) { }}
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看照片</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">处理</a>
        {{#  } else if(d.Status===3 && d.AlarmCode===257) { }}
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看照片</a>
        {{#  } else if(d.Status===3) { }}

        {{#  } else { }}
        <a class="layui-btn layui-btn-xs" lay-event="edit">处理</a>
        {{#  } }}
    </script>
    <script type="text/javascript">
        var IntervalImmediate;
        var intervalHistory;
        var counter = 60 * 1000;
        var yMax = 500;
        var HYMax = 500;

        var oldNetData = null;
        function GetBestNewNetWork() {
            var TerminalId = $("#TerminalId").val();
            var ElectricId = $("#ElectricId").val();
            var LineId = $("#LineId").val();
            var url = "/Partial/GetBestNewNetWork";
            $.ajax({
                url: url,
                data: { TerminalId: TerminalId, ElectricId: ElectricId, LineId: LineId },
                type: 'post',
                async: true,
                dataType: 'json',
                success: function (data, jqxhr, txtStatus) {
                    if (JSON.stringify(data) != JSON.stringify(oldNetData)) {
                        if ($("#netWordState")[0].children.length == 20) {
                            $("#netWordState")[0].children[0].remove();
                        }
                        var time = dateFormat(data.CreateTime);
                        var msg = "";
                        var status = data.Status;
                        if (status == 1) {
                            msg = "校验通过";
                        } else if (status == 2) {
                            msg = "校验不通过";
                        } else if (status == 3) {
                            msg = "没回复模块正常";
                        } else if (status == 4) {
                            msg = "网络无连接";
                        } else {
                            msg = "网络已连接";
                        }
                        var html = "<p>" + time + "&nbsp;" + msg + "</p>";
                        $("#netWordState").append(html);
                        var scrollDom = document.getElementById('netWordState');
                        scrollDom.scrollTop = scrollDom.scrollHeight
                        oldNetData = data;
                    }

                }, error: function (xhr, txtStatus) {
                    console.log(txtStatus);
                }
            })
        }

        $('#netWordState').niceScroll({
            cursorcolor: "#4A4E51",//#CC0071 光标颜色
            cursoropacitymax: 1, //改变不透明度非常光标处于活动状态（scrollabar“可见”状态），范围从1到0
            touchbehavior: false, //使光标拖动滚动像在台式电脑触摸设备
            cursorwidth: "5px", //像素光标的宽度
            cursorborder: "0", // 游标边框css定义
            cursorborderradius: "5px",//以像素为光标边界半径
            autohidemode: false //是否隐藏滚动条
        });

        $(document).ready(function () {
            bindTable();
            setInterval("bindTable()", 1000);
            setInterval("GetBestNewNetWork()", 1000);
            GetAlarmCount();
        });

        function GetAlarmCount() {
            var url = "/Alarm/GetAlarmCount";
            var TerminalId = $("#TerminalId").val();
            var ElectricId = $("#ElectricId").val();
            var LineId = $("#LineId").val();
            var data = { TerminalId: TerminalId, ElectricId: ElectricId, LineId: LineId };
            $.ajax({
                url: url,
                type: 'post',
                async: true,
                dataType: 'json',
                data: data,
                success: function (data, jqxhr, txtStatus) {
                    $("#alarmCount").text(data.count);
                }, error: function (xhr, txtStatus) {
                    console.log(txtStatus);
                }
            })
        }

        var xAxisData = new Array();
        for (var i = 0; i < 361; i++) {
            if (i == 0) {
                xAxisData.push("相位");
            } else {
                xAxisData.push(i);
            }
        }

        /*下一页*/
        function nextPage() {
            var currentPages = $("#currentPage").text();
            var pageCount = $("#pageCount").text();
            if (currentPages != pageCount) {
                var number = parseFloat(currentPages) + 1;
                $("#currentPage").text(number);
                initHChart();
            }
        }

        /*上一页*/
        function prePage() {
            var currentPages = $("#currentPage").text();
            if (currentPages != 1) {
                var number = parseFloat(currentPages) - 1;
                $("#currentPage").text(number);
                initHChart();
            } else {
                return;
            }
        }

        var rstartTime = null;
        var rendTime = null;
        /*历史查询*/
        function searchHistory() {
            var startDate = $("#historystartTime").val();
            var endDate = $("#hitoryendTime").val();
            rstartTime = startDate;
            rendTime = endDate;
            initHChart();
            $("#currentPage").text(0);
            myFunction()
            stopInterval(intervalHistory);
            intervalHistory = setInterval("myFunction()", counter);
        }

        /*自动播放*/
        var myFunction = function () {
            var isChecked = document.getElementById("isAutoPlay").checked;
            if (isChecked == true) {
                var currentPages = document.getElementById("currentPage").innerHTML;
                var pageCount = document.getElementById("pageCount").innerHTML;
                if (parseFloat(currentPages) < parseFloat(pageCount)) {
                    var number = parseFloat(currentPages) + 1;
                    document.getElementById("currentPage").innerHTML = number;
                    initHChart();
                } else {
                    $("#currentPage").text(1);
                }
            }
        }

        /*停止定时器*/
        function stopInterval(time) {
            clearInterval(time);
        }

        /*时间更改*/
        function timegapChange() {
            var times = document.getElementById("secondDate").value;
            var re = /^[0-9]+.?[0-9]*$/; //判断字符串是否为数字 //判断正整数 /^[1-9]+[0-9]*]*$/
            if (!re.test(times)) {
                layer.msg("请输入整数时间!");
            } else {
                times = parseFloat(times);
                var number = times * 1000;
                counter = number;
                stopInterval(intervalHistory);
                intervalHistory = setInterval("myFunction()", number);
            }
        }

        /*获取历史分析*/
        function initHistoryAny(startTime, endTime) {
            var TerminalId = $("#TerminalId").val();
            var ElectricId = $("#ElectricId").val();
            var LineId = $("#LineId").val();
            var url = "/highPartial/GetPartialAnalysis";
            $.ajax({
                url: url,
                type: 'post',
                data: { TerminalId: TerminalId, ElectricId: ElectricId, LineId: LineId, startTime: startTime, endTime: endTime },
                async: true,
                dataType: 'json',
                success: function (data, jqxhr, txtStatus) {
                    aPhaseEchart(data.xAxisData, data.MaxElectric, data.MaxFrequency);
                }, error: function (xhr, txtStatus) {
                    console.log(txtStatus);
                }
            })
        }

        /*历史查询*/
        $("#searchHistoryAny").on('click', function () {
            var startTime = $("#startDate").val();
            var endTime = $("#endDate").val();
            initHistoryAny(startTime, endTime);
        });

        var oldTableJson;
        var seriesDataFs = [], seriesDatas = [];
        var color = "#EFEF3F";
        /*绑定最新表格*/
        function bindTable() {
            var TerminalId = $("#TerminalId").val();
            var ElectricId = $("#ElectricId").val();
            var LineId = $("#LineId").val();
            var url = "/highPartial/GetBestNewTable";
            $.ajax({
                url: url,
                type: 'post',
                data: { TerminalId: TerminalId, ElectricId: ElectricId, LineId: LineId },
                async: true,
                dataType: 'json',
                success: function (data, jqxhr, txtStatus) {
                    if (JSON.stringify(oldTableJson) != JSON.stringify(data)) {
                        seriesDatas.splice(0);
                        seriesDataFs.splice(0);
                        $("#MaxElectric").text(data.MaxElectric);
                        $("#MaxFrequency").text(data.MaxFrequency);
                        var statusName = data.status == 0 ? "正常" : "异常";
                        $("#status").text(statusName);
                        if (data.status != 0) {
                            document.getElementById("status").style.color = "red";
                        } else {
                            document.getElementById("status").style.color = "yellow";
                        }
                        $("#outPartialTitle").html("数据接入时间:" + "<span style='color:red'>" + dateFormat(data.CreateTime) + "</span>");
                        var seriesData = data.Electric.split(',');
                        seriesDatas.push(null);
                        for (var i = 0; i < seriesData.length; i++) {
                            seriesDatas.push(seriesData[i]);
                        }
                        var seriesDataF = data.Frequency.split(',');
                        seriesDataFs.push(null);
                        for (var i = 0; i < seriesDataF.length; i++) {
                            seriesDataFs.push(seriesDataF[i]);
                        }
                        resetEchart1(xAxisData, seriesDatas, "放电量(单位PC)", yMax, color);
                        resetEchart2(xAxisData, seriesDataFs, "放电频次(单位HZ)", yMax, color);
                        oldTableJson = data;
                    }
                }, error: function (xhr, txtStatus) {
                    console.log(txtStatus);
                }
            })
        }

        function dateFormat(item) {
            if (item == null || item == "" || item == "undefined") {
                return "";
            } else {
                var time = new Date(parseInt(item.substr(6))).Format("yyyy-MM-dd hh:mm:ss");
                return time;
            }
        }

        Date.prototype.Format = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds() //秒
            };
            if (/(y+)/.test(fmt)) { //根据y的长度来截取年
                fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            }
            for (var k in o) {
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            }
            return fmt;
        }

        layui.use(['element', 'form', 'table', 'laydate'], function () {
            var form = layui.form;
            var element = layui.element;
            var alarmTable = layui.table;
            alarmTable.render({
                elem: '#alarmdata',
                url: '/Alarm/GetAlarmPageList',
                cellMinWidth: 80,
                even: 'true',
                height: 400,
                id: 'reloadAlarm',
                page: true,
                cols: [
                         [
                             {
                                 field: 'test1',
                                 title: '全选',
                                 type: 'checkbox'
                             },
                             {
                                 field: 'DeviceName',
                                 title: '终端名称',
                                 width: 170,
                             },
                             {
                                 field: 'TerminalId',
                                 title: '终端ID',
                                 width: 130,
                             },
                             {
                                 field: 'ElectricName',
                                 title: '供电或公司',
                                 width: 170,
                             },
                             {
                                 field: 'LineName',
                                 title: '线路名称',
                                 width: 170,
                             },
                             {
                                 field: 'JointName',
                                 title: '接头名称',
                                 width: 170,
                             },
                             {
                                 field: 'Flag',
                                 title: '报警状态',
                                 templet: '#FlagStatus',
                                 width: 130,
                             },
                              {
                                  field: 'StatusName',
                                  title: '处理状态',
                                  templet: '#StatusName',
                                  width: 130,
                              },
                             {
                                 field: 'Value',
                                 title: '告警值'
                             },
                             {
                                 field: 'StartTime',
                                 title: '告警时间',
                                 templet: function (row) { return dateFormat(row.StartTime); },
                                 width: 170,
                             },
                             {
                                 field: 'EndTime',
                                 title: '结束时间',
                                 templet: function (row) { return dateFormat(row.EndTime); },
                                 width: 170,
                             },
                             {
                                 field: 'Content',
                                 title: '告警详情',
                                 width: 170,
                             },
                              {
                                  field: 'handEndTime',
                                  title: '处理时间',
                                  templet: function (row) { return dateFormat(row.handEndTime); },
                                  width: 170,
                              },
                            {
                                field: 'handUser',
                                title: '处理人',
                                width: 130,
                            },
                            {
                                field: 'Cause',
                                title: '处理原因',
                                width: 130,
                            },
                            {
                                field: 'handContent',
                                title: '处理内容',
                                width: 130,
                            },
                             {
                                 fixed: 'right',
                                 field: 'handle',
                                 title: '操作',
                                 templet: '#handle',
                                 width: 240,
                             }
                         ]
                ], where: {
                    TerminalId: document.getElementById("TerminalId").value,
                    ElectricId: document.getElementById("ElectricId").value,
                    LineId: document.getElementById("LineId").value
                }
            });

            //监听工具条
            alarmTable.on('tool(alarm)', function (obj) {
                var data = obj.data;
                if (obj.event === 'edit') {
                    var Id = data.Id;
                    var ElectricId = data.ElectricId;
                    var LineId = data.LineId;
                    var TerminalId = data.TerminalId;
                    var url = "/Alarm/HandleAlarm?Id=" + Id + "&ElectricId=" + ElectricId + "&LineId=" + LineId + "&TerminalId=" + TerminalId;
                    window.top.frameUrl(url);
                }
                if (obj.event === 'showPicture') {
                    var Id = data.Id;
                    var ElectricId = data.ElectricId;
                    var LineId = data.LineId;
                    $.getJSON('/Alarm/GetPicture?AlarmId=' + Id + "&ElectricId=" + ElectricId + "&LineId=" + LineId, function (json) {
                        layer.photos({
                            photos: json,
                            shift: 5
                        });
                    });
                }
            });

            var $ = layui.$, active = {
                reloadAlarm: function () {
                    var TerminalId = $("#TerminalId").val();
                    var ElectricId = $("#ElectricId").val();
                    var LineId = $("#LineId").val();
                    var alarmStartTime = $("#alarmStartTime").val();
                    var alarmEndTime = $("#alarmEndTime").val();
                    alarmTable.reload('reloadAlarm', {
                        page: { curr: 1 },
                        where: {
                            TerminalId: TerminalId,
                            ElectricId: ElectricId,
                            LineId: LineId,
                            startTime: alarmStartTime,
                            endTime: alarmEndTime
                        }
                    });
                }
            };

            $('#btnAlarmSearch').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

            $('#confirmAlarm').on('click', function () {
                var checkStatus = alarmTable.checkStatus("reloadAlarm");
                var data = checkStatus.data;
                var arrayAlarmId = new Array();
                $.each(data, function (idx, obj) {
                    arrayAlarmId.push(obj.Id);
                });
                if (arrayAlarmId.length > 0) {
                    layer.confirm('是否确认报警', { title: "提示" }, function () {
                        var TerminalId = $("#TerminalId").val();
                        var ElectricId = $("#ElectricId").val();
                        var LineId = $("#LineId").val();
                        var url = '/Alarm/confirmAlarm';
                        $.ajax({
                            url: url,
                            type: 'post',
                            data: { listId: arrayAlarmId, TerminalId: TerminalId, ElectricId: ElectricId, LineId: LineId },
                            async: true,
                            dataType: 'json',
                            success: function (data, jqxhr, txtStatus) {
                                if (data.code == 0) {
                                    layer.msg(data.msg);
                                    var type = "reloadAlarm";
                                    active[type] ? active[type].call(this) : '';
                                }
                            }, error: function (xhr, txtStatus) {
                                console.log(txtStatus);
                            }
                        })
                    });
                } else {
                    layer.alert('请选择需要处理的告警!', { title: "提示" });
                }
            });

            element.on('tab(demo)', function (data) {
                hideAllTab();
                var layItemList = $(".layui-tab-content")[0].children;
                var index = data.index;
                switch (index) {
                    case 0:
                        layItemList[index].className = "layui-tab-item layui-show";
                        resetEchart1(xAxisData, seriesDatas, "放电量(单位PC)", yMax, color);
                        resetEchart2(xAxisData, seriesDataFs, "放电频次(单位HZ)", yMax, color);
                        break;
                    case 1:
                        layItemList[index].className = "layui-tab-item layui-show";
                        initHChart();
                        break;
                    case 2:
                        layItemList[index].className = "layui-tab-item layui-show";
                        initHistoryAny();
                        break;
                    case 3:
                        layItemList[index].className = "layui-tab-item layui-show";
                        var type = "reloadAlarm";
                        active[type] ? active[type].call(this) : '';
                        break;
                    case 4:
                        layItemList[index].className = "layui-tab-item layui-show";
                        historyTrend();
                        break;
                    case 5:
                        layItemList[index].className = "layui-tab-item layui-show";
                        historyNetWorkTrend(null, null);
                        break;
                    default:
                        break;
                }
            });

            element.on('tab(docDemoTabBrief)', function (data) {
                hideHAllTab();
                var index = data.index;
                var layItemList = $(".layui-tab-content")[1].children;
                switch (index) {
                    case 0:
                        layItemList[0].className = "layui-tab-item layui-show";
                        break;
                }
            });

            var laydate = layui.laydate;
            //1
            laydate.render({
                elem: '#historystartTime',
                type: 'datetime'
            });
            laydate.render({
                elem: '#hitoryendTime',
                type: 'datetime'
            });

            laydate.render({
                elem: '#startDate',
                type: 'datetime'
            });

            laydate.render({
                elem: '#endDate',
                type: 'datetime'
            });

            laydate.render({
                elem: '#alarmStartTime',
                type: 'datetime'
            });
            laydate.render({
                elem: '#alarmEndTime',
                type: 'datetime'
            });
            laydate.render({
                elem: '#trendStartTime',
                type: 'datetime'
            });
            laydate.render({
                elem: '#trendEndTime',
                type: 'datetime'
            });
            laydate.render({
                elem: '#netStartTime',
                type: 'datetime'
            });
            laydate.render({
                elem: '#netEndTime',
                type: 'datetime'
            });
        });

        var HseriesDataFs = [], HseriesDatas = [];
        /*加载历史局放*/
        function initHChart() {
            var TerminalId = $("#TerminalId").val();
            var ElectricId = $("#ElectricId").val();
            var LineId = $("#LineId").val();
            var currentPages = $("#currentPage").text();
            if (currentPages == 0) {
                currentPages = 1;
                $("#currentPage").text(currentPages);
            }
            var color = "#EFEF3F";
            var url = "/highPartial/GetHisPassaGeWay";
            $.ajax({
                url: url,
                type: 'post',
                data: { TerminalId: TerminalId, ElectricId: ElectricId, LineId: LineId, currentPage: currentPages, startTime: rstartTime, endTime: rendTime },
                async: true,
                dataType: 'json',
                success: function (data, jqxhr, txtStatus) {
                    HseriesDatas.splice(0);
                    HseriesDataFs.splice(0);
                    var Electric = data.data[0].Electric.split(',');
                    for (var i = 0; i < Electric.length; i++) {
                        HseriesDatas.push(Electric[i]);
                    }
                    var Frequency = data.data[0].Frequency.split(',');
                    for (var i = 0; i < Frequency.length; i++) {
                        HseriesDataFs.push(Frequency[i]);
                    }
                    hresetEchart1(xAxisData, HseriesDatas, "放电量(单位PC)", HYMax, color);
                    hresetEchart2(xAxisData, HseriesDataFs, "放电频次(单位HZ)", HYMax, color);
                    $("#dataTimes").html(dateFormat(data.data[0].CreateTime));
                    $("#pageCount").text(data.count);
                }, error: function (xhr, txtStatus) {
                    console.log(txtStatus);
                }
            })
        }

        /*历史查询*/
        $("#btnTrend").on('click', function () {
            var startTime = $("#trendStartTime").val();
            var endTime = $("#trendEndTime").val();
            historyTrend(startTime, endTime);
        });

        /*加载历史趋势分析*/
        function historyTrend(startTime, endTime) {
            var TerminalId = $("#TerminalId").val();
            var ElectricId = $("#ElectricId").val();
            var LineId = $("#LineId").val();
            var url = "/highPartial/GetPartialTrend"
            $.ajax({
                url: url,
                type: 'post',
                data: { TerminalId: TerminalId, ElectricId: ElectricId, LineId: LineId, startTime: startTime, endTime: endTime },
                async: true,
                dataType: 'json',
                success: function (data, jqxhr, txtStatus) {
                    resettmyChart1(data);
                }, error: function (jaxhr, txtStatus) {
                    console.log(txtStatus);
                }
            })
        }

        /*隐藏历史tabContent*/
        function hideHAllTab() {
            var layItemList = $(".layui-tab-content")[1].children;
            for (var i = 0; i < layItemList.length; i++) {
                layItemList[i].className = "layui-tab-item";
            }
        }

        function hideAllTab() {
            var layItemList = $(".layui-tab-content")[0].children;
            for (var i = 0; i < layItemList.length; i++) {
                layItemList[i].className = "layui-tab-item";
            }
        }

        /*面板伸缩*/
        var isAnimate = true;
        $("#networkBtn").click(function () {
            if (isAnimate) {
                $("#networkBtn").removeClass();
                $("#networkBtn").addClass("netWordStatePanelIcon collect");
                $("#networkBtn").animate({ right: "250px" })
                $("#netWordState").animate({ right: "0px" });
                isAnimate = false;
            } else {
                $("#networkBtn").removeClass();
                $("#networkBtn").addClass("netWordStatePanelIcon shrink");
                $("#networkBtn").animate({ right: "0px" })
                $("#netWordState").animate({ right: "-250px" });
                isAnimate = true;
            }

        })


        /*历史查询*/
        $("#btnNetWork").on('click', function () {
            var startTime = $("#netStartTime").val();
            var endTime = $("#netEndTime").val();
            historyNetWorkTrend(startTime, endTime);
        });

        /*加载网络曲线*/
        function historyNetWorkTrend(startTime, endTime) {
            var TerminalId = $("#TerminalId").val();
            var ElectricId = $("#ElectricId").val();
            var LineId = $("#LineId").val();
            var url = "/Partial/GetNetWorkTrend"
            $.ajax({
                url: url,
                type: 'post',
                data: { TerminalId: TerminalId, ElectricId: ElectricId, LineId: LineId, startTime: startTime, endTime: endTime },
                async: true,
                dataType: 'json',
                success: function (data, jqxhr, txtStatus) {
                    resetnetworkChart(data);
                }, error: function (jaxhr, txtStatus) {
                    console.log(txtStatus);
                }
            })
        }

        /*确认Y值*/
        $("#sureYMax").on("click", function () {
            loadreport();
        });

        /*历史确认Y值*/
        $("#sureHYMax").on("click", function () {
            loadHreport();
        });

        //确认实时Y值
        function loadreport() {
            try{
                yMax = parseFloat($("#YMax").val());
            } catch (e) {
                yMax=500
                layer.msg("请输入数字");
            }
            resetEchart1(xAxisData, seriesDatas, "放电量(单位PC)", yMax, color);
            resetEchart2(xAxisData, seriesDataFs, "放电频次(单位HZ)", yMax, color);
        }

        //确认历史Y值
        function loadHreport() {
            try {
                HYMax = parseFloat($("#HYMax").val());
            } catch (e) {
                HYMax = 500;
                layer.msg("请输入数字");
            }
            initHChart();
        }
    </script>
</body>
</html>
